.sudoku {
    margin: 0 auto;
    position: relative;
    width: 370px;

    &.loading::after {
        background: #fff;
        content: '';
        cursor: not-allowed;
        display: block;
        height: 100%;
        left: 0;
        opacity: .5;
        position: absolute;
        top: 0;
        width: 100%;
    }

    table {
        width: 370px;
        height: 370px;
    }

    .sudoku-cell {
        text-align: center;
        padding: 0;

        &.invalid-cell input {
            background: #f9d4d4;
        }
    }

    tr {
        &:nth-of-type(3n) {
            border-bottom: 2px solid #c5c5c5;
        }

        &:last-of-type {
            border-bottom: none;
        }
    }

    td {
        &:nth-of-type(3n) {
            border-right: 2px solid #c5c5c5;
        }

        &:last-of-type {
            border-right: none;
        }
    }

    input {
        border: 0;
        height: 100%;
        text-align: center;
        width: 100%;

        &:disabled {
            background: #f5f5f5;
            cursor: not-allowed;
        }

        &.timer-disabled {
            cursor: not-allowed;
            
        }
    }
}
